@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}

/*! -----HEADER----- */
header {
  background-color: rgb(44, 61, 94);
}
/* header img {
  width: 48px;
}
header div {
  font-size: 60px;
  font-weight: bold;
  color: white;
  display: inline;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline;
  width: 100px;
} */
header nav ul li a {
  text-decoration: solid;
  color: whitesmoke;
}
hr {
  border: 5px solid black;
  margin: 0;
}
/*? -----MAIN----- */
main {
  background-color: rgb(44, 84, 156);
}
.hero {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.hero h1 {
  font-size: 50px;
  text-align: center;
}

.container__cajas {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.cajas {
  height: auto;
  width: 150px;
  margin: 10px;
  padding: 5px;
  border: 10px solid #eee;
  background-color: #333;
  text-align: center;
  border-radius: 1rem;
}
.cajas:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

/*? -----MAIN lugares----- */
div h1,
h2 {
  text-align: center;
  font-size: 60px;
}

.imagenes_lugares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}
.imagenes_lugares img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
/** media query grid lugares**/
@media screen and (max-width: 992px) {
  div h1,
  h2 {
    font-size: 30px;
  }
  .imagenes_lugares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 688px) {
  div h1,
  h2 {
    font-size: 15px;
  }
  .imagenes_lugares {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
}

/**! -----formulario contacto----- */
section div h2 {
  text-align: center;
  color: #333333;
}
.formulario__container {
  background: white;
  height: 100vh;
  padding: 20px;
}

label {
  display: block;
}

button {
  background-color: #007bff;
  color: white;
  font-size: 20px;
}

/** -----FOOTER----- */
footer {
  background-color: rgb(44, 61, 94);
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer div {
  color: white;
}
