footer {
  background-color: rgba(var(--bs-tertiary-bg-rgb));
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
  width: 100%;
  div {
    color: black;
  }
}
